In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bonnyville,CA,2022-09-13 03:45:15,54.2668,-110.7350,54.72,43,16,8.21
1,1,Mataura,NZ,2022-09-13 03:47:15,-46.1927,168.8643,45.48,98,98,10.58
2,2,Ushuaia,AR,2022-09-13 03:47:15,-54.8000,-68.3000,37.06,70,0,3.44
3,3,Busselton,AU,2022-09-13 03:46:54,-33.6500,115.3333,59.52,76,96,24.00
4,4,Rikitea,PF,2022-09-13 03:47:15,-23.1203,-134.9692,73.20,70,54,3.89

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [18]:
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Jining,CN,2022-09-13 03:46:40,35.4050,116.5814,83.44,50,3,8.16
14,14,Port-Gentil,GA,2022-09-13 03:47:19,-0.7193,8.7815,76.01,80,96,9.89
20,20,Sunland Park,US,2022-09-13 03:47:21,31.7965,-106.5800,78.91,52,40,14.97
25,25,Hithadhoo,MV,2022-09-13 03:47:23,-0.6000,73.0833,82.08,69,6,5.55
28,28,Port Keats,AU,2022-09-13 03:47:24,-14.2500,129.5500,82.98,67,68,10.02
38,38,Hilo,US,2022-09-13 03:45:23,19.7297,-155.0900,82.13,74,40,6.91
39,39,Salalah,OM,2022-09-13 03:47:28,17.0151,54.0924,80.69,89,100,2.30
45,45,Oistins,BB,2022-09-13 03:48:30,13.0667,-59.5333,80.69,89,40,11.50
50,50,Cayenne,GF,2022-09-13 03:48:31,4.9333,-52.3333,77.04,88,47,0.00
60,60,Kavaratti,IN,2022-09-13 03:48:34,10.5669,72.6420,80.71,82,90,14.14

In [22]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
11        Jining      CN     83.44  35.4050  116.5814
14   Port-Gentil      GA     76.01  -0.7193    8.7815
20  Sunland Park      US     78.91  31.7965 -106.5800
25     Hithadhoo      MV     82.08  -0.6000   73.0833
28    Port Keats      AU     82.98 -14.2500  129.5500
38          Hilo      US     82.13  19.7297 -155.0900
39       Salalah      OM     80.69  17.0151   54.0924
45       Oistins      BB     80.69  13.0667  -59.5333
50       Cayenne      GF     77.04   4.9333  -52.3333
60     Kavaratti      IN     80.71  10.5669   72.6420

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [26]:
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

Hotel not found... skipping.

In [28]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Jining,CN,83.44,35.4050,116.5814,Yunhe Star Hotel
14,Port-Gentil,GA,76.01,-0.7193,8.7815,Fengshui Residence
20,Sunland Park,US,78.91,31.7965,-106.5800,SpringHill Suites by Marriott El Paso
25,Hithadhoo,MV,82.08,-0.6000,73.0833,Scoop Guest House
28,Port Keats,AU,82.98,-14.2500,129.5500,TDC Village (Hundred Man Camp)

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))