## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,63.91,59,96,12.66,overcast clouds
1,1,Mataura,NZ,-46.1927,168.8643,46.47,97,99,0.72,overcast clouds
2,2,Hokitika,NZ,-42.7167,170.9667,53.55,75,80,3.15,broken clouds
3,3,Provideniya,RU,64.3833,-173.3000,39.36,100,53,4.00,broken clouds
4,4,Lagoa,PT,39.0500,-27.9833,73.96,82,18,5.77,few clouds

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Lagoa,PT,39.0500,-27.9833,73.96,82,18,5.77,few clouds
12,12,Vaini,TO,-21.2000,-175.2000,75.36,88,40,9.22,scattered clouds
15,15,Balangiga,PH,11.1097,125.3875,78.42,86,100,1.50,overcast clouds
24,24,Kavieng,PG,-2.5744,150.7967,81.55,77,93,9.42,light rain
27,27,Avarua,CK,-21.2078,-159.7750,73.45,83,75,12.66,broken clouds
29,29,Erzin,TR,36.9559,36.2000,73.67,88,39,2.46,scattered clouds
30,30,Puerto Ayora,EC,-0.7393,-90.3518,75.16,91,67,11.01,broken clouds
31,31,Albany,US,42.6001,-73.9662,73.17,75,42,1.99,scattered clouds
33,33,Butaritari,KI,3.0707,172.7902,81.00,76,95,11.92,overcast clouds
34,34,Qena,EG,26.1615,32.7183,81.61,27,0,8.84,clear sky

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Lagoa,PT,39.0500,-27.9833,73.96,82,18,5.77,few clouds
12,12,Vaini,TO,-21.2000,-175.2000,75.36,88,40,9.22,scattered clouds
15,15,Balangiga,PH,11.1097,125.3875,78.42,86,100,1.50,overcast clouds
24,24,Kavieng,PG,-2.5744,150.7967,81.55,77,93,9.42,light rain
27,27,Avarua,CK,-21.2078,-159.7750,73.45,83,75,12.66,broken clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,Puerto Escondido,MX,15.8500,-97.0667,80.74,83,100,5.66,overcast clouds
680,680,Nueva Loja,EC,0.0847,-76.8828,89.62,51,75,8.05,broken clouds
681,681,Alcudia,ES,39.8532,3.1214,75.25,63,9,3.89,clear sky
683,683,Samana,DO,19.2056,-69.3369,86.22,79,40,11.50,scattered clouds
684,684,Sabha,LY,27.0377,14.4283,89.69,12,0,7.31,clear sky

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Lagoa,PT,73.96,few clouds,39.0500,-27.9833,
12,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
15,Balangiga,PH,78.42,overcast clouds,11.1097,125.3875,
24,Kavieng,PG,81.55,light rain,-2.5744,150.7967,
27,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,
29,Erzin,TR,73.67,scattered clouds,36.9559,36.2000,
30,Puerto Ayora,EC,75.16,broken clouds,-0.7393,-90.3518,
31,Albany,US,73.17,scattered clouds,42.6001,-73.9662,
33,Butaritari,KI,81.00,overcast clouds,3.0707,172.7902,
34,Qena,EG,81.61,clear sky,26.1615,32.7183,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Lagoa,PT,73.96,few clouds,39.0500,-27.9833,Casa Das Faias
12,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Balangiga,PH,78.42,overcast clouds,11.1097,125.3875,Country Inn Bed and Breakfast
24,Kavieng,PG,81.55,light rain,-2.5744,150.7967,Nusa Island Retreat
27,Avarua,CK,73.45,broken clouds,-21.2078,-159.7750,Paradise Inn

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))